.path-mod-scheduler .timelabel {
    color: #808080;
}

.path-mod-scheduler .attended {
    color: green;
}

.path-mod-scheduler div.otherstudent.highlight {
    font-weight: bold;
}

.path-mod-scheduler div.slotnotes {
    background-color: #e8e9ee;
    border: solid 1px #a7abbe;
    font-size: 0.9em;
    padding: 2px;
    margin: 1px;
}

div .path-mod-scheduler .appointmentnote {
    background-color: #e7efe7;
    border: solid 1px #a0c5a4;
    font-size: 0.9em;
    padding: 2px;
    margin: 1px;
}

.path-mod-scheduler #slotbookertable {
    margin-left: auto;
    margin-right: auto;
}

.path-mod-scheduler #slotbookertable {
    margin-left: auto;
    margin-right: auto;
}

.path-mod-scheduler div.bookercontrols {
    text-align: center;
}

.path-mod-scheduler div.studentlist.expanded {
    display: block;
}

.path-mod-scheduler div.studentlist.collapsed {
    display: none;
}

.path-mod-scheduler div.commandbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
    padding: 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Reduce space usage by single buttons in table cells */
.path-mod-scheduler table div.singlebutton div {
    margin-bottom: 0px;
}
.path-mod-scheduler table div.singlebutton input {
    margin: 0px;
}

.path-mod-scheduler div.commandbar span.title {
    float: left;
    clear: right;
    width: 8em;
    text-align: left;
    font-weight: bold;
}

.path-mod-scheduler div.commandbar .moodle-actionmenu {
    display: inline-block;
}

.path-mod-scheduler div.commandbar .moodle-actionmenu.show[data-enhanced] .menu.align-tr-br {
    left: 0;
    right: auto;
}

.path-mod-scheduler div.commandbar .moodle-actionmenu .menubar {
    width: 12em;
}

.path-mod-scheduler .moodle-actionmenu img.iconsmall {
    width: auto;
}
.path-mod-scheduler .moodle-actionmenu .menu-action-text {
    display: inline;
}


body.path-mod-scheduler input.slotselect {
    display: none;
}
body.path-mod-scheduler.jsenabled input.slotselect {
    display: inline;
}

body.path-mod-scheduler.jsenabled  input.studentselectsubmit {
    display: none;
}

.path-mod-scheduler img.statictickbox {
    padding-right: 5px;
}

.path-mod-scheduler .maildisplay {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #eee;
    text-align: center;
}

.path-mod-scheduler div.schedulelist.halfsize {
    width: 46%;
    display: inline-table;
    padding: 3px;
}

.path-mod-scheduler div.schedulelist.fullsize {
    width: 96%;
    display: block;
    padding: 3px;
}

.path-mod-scheduler div.schedulelist div.singlebutton,
.path-mod-scheduler div.schedulelist div.singlebutton form {
    display: inline;
}

.path-mod-scheduler div.actionmessage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 2px;
    padding: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.path-mod-scheduler div.actionmessage.success {
    background-color: #96fca6;
    border-color: #14fa34;
}

.path-mod-scheduler div.actionmessage.error {
    background-color: #ffb2b8;
    border-color: #f40000;
}

.path-mod-scheduler div.totalgrade {
    padding-bottom: 25px;
}
.path-mod-scheduler dl.totalgrade dl {
    width: 100%;
}
.path-mod-scheduler dl.totalgrade dt {
    float: left;
    clear: left;
    width: 30%;
}
.path-mod-scheduler dl.totalgrade dd {
    float: left;
    width: 60%;
}

.path-mod-scheduler div.dropdownmenu {
    display: inline-block;
    padding-right: 1em;
}

.path-mod-scheduler div.dropdownmenu select {
    vertical-align: middle;
}

/* Format data fields in vertical rather than horizontal list. */

.path-mod-scheduler #id_datafieldhdr .form-group,
.path-mod-scheduler #id_datafieldhdr .fitem_fgroup {
    float: left;
    clear: none;
}

.path-mod-scheduler #id_datafieldhdr .col-md-3,
.path-mod-scheduler #id_datafieldhdr fieldset.fgroup {
    width: 100%;
    text-align: left;
    margin-left: 0;
}

.path-mod-scheduler #id_datafieldhdr .col-md-9 {
	float: none;
	width: 100%;
}

.path-mod-scheduler #id_datafieldhdr .col-form-label,
.path-mod-scheduler #id_datafieldhdr .fitemtitle {
    font-weight: bold;
    text-align: left;
}

.path-mod-scheduler #id_datafieldhdr .form-group .felement .fitem,
.path-mod-scheduler #id_datafieldhdr fieldset.fgroup > span {
    clear: left;
    float: left;
    margin-left: 0.5em;
}

/*ADDED for Co-host Selectize */
.container {
    width: 40%;
    margin: 30px auto;
  }
  .label {
    display:inline-block;
  }
  .tag-container {
   /* border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    display: flex;
    align-content: flex-start;
    margin-bottom: 5%;*/
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    align-content: flex-start;
    /*margin-bottom: 5%;*/
    width: 100%;
    font-family: inherit;

  }
  .tag-container .tag {
    /*height: 30px;
    margin: 5px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;*/
   /* display: flex; */
  /*  align-items: center;
    color: #333;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;*/
    
    cursor: pointer;
    padding: 1px !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 5px !important;
    text-indent: 0 !important;
    border: 0 none !important;

    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: #eee;
    color: #333;
  }
  .tag-container .tag:focus{
    background: #1177d1;
    color:#FFF
  }
  .tag-container .tag:active {
    background: #1177d1;
    color:#FFF
  }
  .tag i {
    font-size: 14px;
    color: #666;
    margin-left: 5px;
  }

  .tag i:hover {
    background: #ddd;
  }

  .tag-container input {
    padding: 5px;
    font-size: 16px;
    border: 0;
    outline: none;
    font-family: 'Rubik';
    color: #333;
    flex: 1;
  }

  .tag-container input:focus  {
    border-color: #FFF;
    outline: 0; 
    -webkit-box-shadow: 0 0 0 0.0rem rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 0 0.0rem rgba(255, 255, 255, 0.25);
  }

  /* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
   /* line-height: 1;*/
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

.path-mod-scheduler_hidden{
    display: none !important;
}
.ui-autocomplete { 
  position: absolute; 
  cursor: default; 
  background:#FFF ;
  height: auto;
  padding: 0;
  margin: 2px 0 0 0;
  z-index: 1000;
  background: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}   

/* workarounds */
html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
.ui-menu {
    list-style:none;
    padding: 2px;
    margin: 0;
    display:block;
    float: left;
    background:#FFF ;
    border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.ui-menu .ui-menu {
    margin-top: -3px;
}
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu .ui-menu-item:hover {
  cursor: pointer;
  background: #eee;
}

.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:.2em .4em;
    line-height:1.5;
    zoom:1;
    cursor: pointer;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
    background: #eee;
    cursor: pointer;
}
.ui-helper-hidden-accessible{display:none;}